// breakpoints

$rfpn-S: 320px;
$rfpn-M: 768px;
$rfpn-L: 1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $rfpn-S) { @content; }
  }

  @else if $canvas == M {
    @media only screen and (min-width: $rfpn-M) { @content; }
  }

  @else if $canvas == L {
    @media only screen and (min-width: $rfpn-L) { @content; }
  }
}
