// rem fallback - credits: http://zerosixthree.se/

@function calculaterem($size) {
  $remSize: $size / 16px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculaterem($size);
}
